.chat-bubble-bot {
    margin-bottom: 12px;
    border-radius: 10px 10px 10px 0px;
    clear: both;
    background-color: #f0f0f0; /* Warna latar belakang bubble chat yang lebih terang */
    color: #333; /* Warna teks gelap untuk kontras yang lebih baik */
    padding: 10px;
    max-width: 70%;
}
  
.bot {
    font-weight: bold;
    color: #0047ab; /* Warna biru tua untuk nama bot */
}
  
.message-bot {
    margin-top: 5px;
}

@keyframes popAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.pop {
  animation: popAnimation 0.5s ease;
}
