.chat-bubble-bot {
    margin-bottom: 12px;
    border-radius: 10px 10px 10px 0px;
    clear: both;
    background-color: gray; /* Warna latar belakang bubble chat */
    color: #fff; /* Warna teks pada bubble chat */
    padding: 10px; /* Jarak antara teks dan tepi bubble chat */
    max-width: 70%; /* Lebar maksimum bubble chat sesuai kebutuhan */
}
  
.bot {
    font-weight: bold;
    color: red;
}
  
.message-bot {
    margin-top: 5px;
}
  