<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-3 d-flex justify-content-center align-items-center p-5 flex-column text-center" *ngIf="checkUrl()=='1'">
        <img src="../assets/agent.gif" alt="" class="img-fluid rounded-circle" style="max-width: 200px;">
        <h5>CICILIN</h5>
    </div>
    <div class="col-6 rounded-4" style="height:85vh; background-color:white; box-shadow: 8px 8px 8px rgba(0, 0, 0, 1);">
        <router-outlet></router-outlet>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center p-5 flex-column text-center" *ngIf="checkUrl()=='1'">
        <img src="../assets/user.jpg" alt="" class="img-fluid rounded-circle" style="max-width: 200px;">
        <h5>{{fullName}}</h5>
    </div>
</div>
