.chat-bubble-user {
    margin-bottom: 12px;
    border-radius: 10px 10px 0px 10px;
    clear: both;
    background-color: #e7f5ff; /* Biru muda */
    color: #333; /* Warna teks abu-abu gelap */
    padding: 10px;
    max-width: 70%;
}
  
.user {
    font-weight: bold;
    color: #333; /* Warna teks abu-abu gelap untuk kontras */
}
  
.message-user {
    margin-top: 5px;
}

@keyframes popAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.pop {
  animation: popAnimation 0.5s ease;
}
