.chat-bubble-user {
    margin-bottom: 12px;
    border-radius: 10px 10px 0px 10px;
    clear: both;
    background-color: #e7f5ff; /* Biru muda */
    color: #333; /* Warna teks abu-abu gelap */
    padding: 10px;
    max-width: 70%;
}
  
.user {
    font-weight: bold;
    color: #333; /* Warna teks abu-abu gelap untuk kontras */
}
  
.message-user {
    margin-top: 5px;
}
